body {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #e1e1e1;
    background-color: #1e1e1e;
}

img {
    width: 30em;
    pointer-events: none;
}